##  Inficon MPH DataDEV
#
##  DEV
##       EPICS prefix
##  PORT
##       ASYN PORT_NAME
##
##
#
record(mbbiDirect, "$(DEV):SYST_STAT")
{
    field(DESC, "read system status")
    field(DTYP, "asynUInt32Digital")
    field(INP,  "@asynMask($(PORT) 0 0xFFFFFFFF)SYST_STAT")
    field(SCAN, "$(DSCAN) second")
	field(PINI, "YES")
}

record(stringin,"$(DEV):IP") {
    field(DTYP, "asynOctetRead")
    field(INP,  "@asyn($(PORT) 1)IP")
    field(SCAN, "$(DSCAN) second")
}